<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Instaparking</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

<body>

    <!-- Navigation -->
   
    <div class = "container">

    <!-- <header id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://www.parkingsolutions.com.pe/images/carrusel/estacionamientos1.jpg" alt="First slide">
            <!--<div class="carousel-caption">
              <!--<p>Example headline.</p>
              <!--<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://www.parkingsolutions.com.pe/images/carrusel/estacionamientos2.jpg" alt="Second slide">
            <!--<div class="carousel-caption">
              <!--<p>Another example headline.<p>
              <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://www.parkingsolutions.com.pe/images/carrusel/estacionamientos3.jpg" alt="Third slide">
            <!--<div class="carousel-caption">
              <!--<p>One more for good measure.</p>
              <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>

    </header> /.carousel -->
    </div>

   <!-- Page Content -->
    <div class="container">

        <!-- Welcome to InstaParking Corporation Section
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to InstaParking Corporation 
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Company guidelines </h4>
                    </div>
                    <div class="panel-body">
                        <p>The business line runs right through the entire country , with the value-added use of technology for fully automatic parking, this representaun added value for our customers in the fast and secure search</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Business Vision </h4>
                    </div>
                    <div class="panel-body">
                        <p>Being the leader in parking management, high standards of service quality company. Manage parking integrally with excellent quality service aimed at our customers and users</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Business Mission</h4>
                    </div>
                    <div class="panel-body">
                         <p>We provide solutions in parking spaces , based on process management , human capital excellence , innovation , safety and technology at the service of our customers</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Scope of Service </h4>
                    </div>
                    <div class="panel-body">
                        <p>To use the service, you must enter the premises of parking, Each service will identified by a specific code for that service. Similarly, be interested to know the starting time and price, as stated above, it is unique for each service.
                            A user can ask for all the services you want, which will be marked on the corresponding card. Interested user name, user type is and car registration. The service is available 24 hours a day, 365 days a year.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            
        </div>
        /.row -->
        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Portfolio Service</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.acropolisveracruz.com/wp-content/uploads/2016/02/IMG_9841-1024x683-e1456266297706.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Segurity</a>
                </h3>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.project.emlaak.com.pk/wp-content/uploads/2016/05/indoor-car-parking-malaga-airport-1-600x400.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Lit Environment</a>
                </h3>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://adninformativo.mx/wp-content/uploads/2016/02/Estacionamiento_ESPECIAL.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Availability</a>
                </h3>
            </div>
            
            
        </div>
        
        <!-- /.row -->
        

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </footer>

<!--    </div>
        <!-- Call to Action Section
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>If you have any comments or suggestions for us ,
                        Please , contact us at Tel (051) 555-5555 or our client
                        Service line (51) 555-5555.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>
-->
        <hr>

           </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 4000 //changes the speed
    })
    </script>

</body>

</html>


